.App {
  text-align: center;
}

.NavBar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

.NavBar .profile {
  transition: all 0.2s ease;
}

.NavBar .drop-down.show .profile,
.NavBar .profile {
  width: 75px;
  height: 75px;
  max-height: 75px;
  margin-top: 0.75rem;
}

.NavBar .current.profile {
  margin-top: 0;
}

.NavBar img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.NavBar .drop-down .profile {
  max-height: 0;
  height: 0;
  margin-top: 0;
}

.Profile img {
  width: 250px;
}
