.Home .profile-card {
  max-width: 500px;
  display: flex;
  padding: 2rem;
  background-color: silver;
}

.Home .profile-card,
.Home .profile-card img {
  border-radius: 2rem;
}

.Home .profile-pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.Home .region-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}