.ProfileCard {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  background-color: silver;
}

.ProfileCard h2 {
  margin-top: 1rem;
}

.ProfileCard,
.ProfileCard .profile-pic {
  border-radius: 2rem;
}

.ProfileCard .profile-pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.ProfileCard .profile-info {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ProfileCard .region-img {
  width: 75px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  object-fit: contain;
  object-position: center;
}

.ProfileCard .providers {
  display: flex;
}

.ProfileCard .GenreCard {
  margin-bottom: 0.5rem;
}

.ProfileCard .link {
  margin-top: 1rem;
}